{% if category == "top" %}
<i class="fa-solid fa-shirt cl-icon" aria-hidden="true"></i>
{% elif category == "bottom" %}
<i class="fa-solid fa-socks cl-icon" aria-hidden="true"></i>
{% elif category == "shoes" %}
<i class="fa-solid fa-shoe-prints cl-icon" aria-hidden="true"></i>
{% elif category == "accessories" %}
<i class="fa-solid fa-glasses cl-icon" aria-hidden="true"></i>
{% elif category == "outerwear" %}
<i class="fa-solid fa-vest cl-icon" aria-hidden="true"></i>
{% elif category == "dresses" %}
<i class="fa-solid fa-person-dress cl-icon" aria-hidden="true"></i>
{% endif %}