{# Menu kiri. Dipakai lagi nanti di halaman My posts dan Saved. #}
<nav class="cm-side" aria-label="Community menu">
    <a href="{% url 'community:show_community' %}" class="cm-side-link {% if active == 'all' %}is-active{% endif %}">
        <i class="fa-solid fa-house"></i> All posts
    </a>
    <hr>
    <a href="#" class="cm-side-link {% if active == 'mine' %}is-active{% endif %}">
        <i class="fa-regular fa-message"></i> My posts
    </a>
    <a href="#" class="cm-side-link {% if active == 'saved' %}is-active{% endif %}">
        <i class="fa-regular fa-bookmark"></i> Saved
    </a>
    <a href="#composer" class="cm-btn cm-btn-primary cm-side-post">Post</a>
</nav>